html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #f5f5f5;
}

#main-navbar-collapse {
  margin-top:10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#footer h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}




