
@media (min-width: 768px) {
  dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: 180px;
    border: black;
  }
}

dl {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #222222;
}
dl:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
dl:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Themes for different contexts */
.callout-danger {
  background-color: #fcf2f2;
}
.callout-warning {
  background-color: #fefbed;
}
.callout-info {
  background-color: #f0f7fd;
}
.callout-success {
  background-color: #dff0d8;
}
