<div class="media">
  {% if indiv.website %}
  <a class="pull-left" href="#"><img class="media-object"
    src="/images/headshots/fullsize/{{ indiv.name | remove: ' ' }}.jpg" alt="image"
    width=125 /></a>
  {% else %}
  <div class="pull-left"><img class="media-object"
    src="/images/headshots/fullsize/{{ indiv.name | remove: ' ' }}.jpg" alt="image"
    width=125 /></div>
  {% endif %}
  <div class="media-object" style="padding-left:15px">
    <h4 class="media-heading">{{indiv.name}}</h4>
    <address>
      {% if indiv.title %}
      <i>{{ indiv.title }}</i><br />
      {% endif %}

      {% if indiv.title2 %}
      <i>{{ indiv.title2 }}</i><br />
      {% endif %}

      {% if indiv.address %}
      {{indiv.address}} <br />
      {% endif %}

      {% if indiv.phone %}
      <abbr title="Phone">P:</abbr> {{ indiv.phone }} <br />
      {% endif %}

      {% if indiv.email %}
      <abbr title="Email">E:</abbr> <a href="mailto:#">{{ indiv.email }}</a> <br />
      {% endif %}

      {% if indiv.website %}
      <abbr title="Website">W:</abbr> <a href="{{ indiv.website }}">{{ indiv.website }}</a> <br />
      {% endif %}

      {% if indiv.group != "Alumni" %}
      {% if indiv.interests %}
      Research Interests: {{ indiv.interests }}
      {% endif %}
      {% elsif indiv.currentRole %}
      {% if indiv.currentRole %}
      Current Role: {{ indiv.currentRole }}
      {% endif %}
      {% endif %}
    </address>
  </div>
</div>
