
<header>
    <div class="navbar navbar-expand-md navbar-static-top navbar-light" role="navigation">
        <a class="navbar-brand" href="/"><img src="/images/Banner3.png" height="50px" alt="Rice RNEL"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="main-navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if page.nav == "home" %}
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                {% endif %}

                {% if page.nav == "research" %}
                <li class="nav-item dropdown active">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Research <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/#research">Overview</a></li>
                        <li class="divider"></li>
                        <li><a class="nav-link" href="/research/memory.html">Memory</a></li>
                        <li><a class="nav-link" href="/research/dbs.html">DBS</a></li>
                        <li><a class="nav-link" href="/research/tools.html">Tools</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Research <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="/#research">Overview</a></li>
                        <li class="divider"></li>
                        <li><a class="nav-link" href="/research/memory.html">Memory</a></li>
                        <li><a class="nav-link" href="/research/dbs.html">DBS</a></li>
                        <li><a class="nav-link" href="/research/tools.html">Tools</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if page.nav == "people" %}
                <li class="nav-item active"><a class="nav-link" href="#">People</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/people">People</a></li>
                {% endif %}

                {% if page.nav == "pubs" %}
                <li class="nav-item active"><a class="nav-link" href="#">Publications</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/pubs">Publications</a></li>
                {% endif %}

                {% if page.nav == "news" %}
                <li class="nav-item active"><a class="nav-link" href="#">News</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
                {% endif %}

                {% if page.nav == "links" %}
                <li class="nav-item active"><a class="nav-link" href="#">Links</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/links">Links</a></li>
                {% endif %}

<!--
                {% if page.nav == "blog" %}
                <li class="nav-item active"><a  class="nav-link" href="#">Kemere Lab Blog</a></li>
                {% else %}
                <li class="nav-item"><a  class="nav-link" href="blog.kemerelab.com">KLab Blog</a></li>
                {% endif %}
-->

                {% if page.nav == "wiki" %}
                <li class="nav-item active"><a class="nav-link" href="#">Internal</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="https://github.com/kemerelab/Private/wiki">Internal</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>
