@import url("pico.blue.css");
@import url("pico.colors.css");

.navigation {
   padding-bottom: 0px;
   padding-top: 0px;
}

.icon {
   width: 1.5em;
   height: 1.5em;
   /* vertical-align: -0.25em; */
}

.small-icon {
   width: 0.75em;
   height: 0.75em;
   vertical-align: 0em;
}

.brand {
   height: 50px;
}


.bluegrid {
   /*
   background-image:url(/images/bluegrid-light.png);
   background-repeat:repeat;
   */
   background-color:rgb(229, 236, 247)
   /* background-attachment:fixed;*/
}


.directory {
   display: flex;
}

.publications {
   font-size:small;
   padding-top: 1px;
   padding-bottom: 1px;
}

.admonition {
   margin-bottom: var(--pico-block-spacing-vertical);
   padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
   padding-top: 0px;
   border-radius: 1rem;
   background: var(--pico-card-background-color);
   box-shadow: var(--pico-card-box-shadow);
   overflow: hidden;
}

.admonition-title {
   margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
   margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
   padding: calc(var(--pico-block-spacing-vertical) * 0.66) var(--pico-block-spacing-horizontal);
   background-color: var(--pico-color-blue-100);
   font-weight: bold;
}

.tool-highlight {
   background: var(--pico-color-green-100);
}



 /* RESPONSIVE CSS
 -------------------------------------------------- */
 @media only screen and (prefers-color-scheme: dark) {
   .bluegrid {
      /*
      background-image:url(/images/bluegrid-light-darkmode.png);
      */
      background-color: rgb(1, 14, 26);
   }   
}



.small-flex-right {
   flex:1 1 200px; 
   padding-left: 10px; 
   justify-content: right; 
   display: flex;
}

.small-flex-left {
   flex:1 1 200px; 
   padding-right: 10px; 
   justify-content: right; 
   display: flex;
}



.large-flex {
   flex:3 1 200px;
}

@media screen and (max-width: 64em) {
   .small-flex-left {
       display: none !important;
   }
}

@media screen and (max-width: 64em) {
   .small-flex-right {
       display: none !important;
   }
}


/* CSS for directory */
.large-column {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   grid-gap: 20px;
}

.medium-column {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 20px;
   padding: 20px;
}

.small-column {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap: 20px;
}

.funder-image {
   border-radius: 4px;
   padding: 5px;
   width: 300px;
}


.funder-background {
   background-color:rgb(245, 245, 245);
   border-width: thin;
   border-style: solid;
   border-color:rgb(229, 236, 247);
}

