---
layout: default
title: RNEL People
nav: people
---

<div class="container">

  <div class="row">
    <h2>Group Members</h2>
  </div>

  <div class="bs-callout bs-callout-info">
    <h3 class="panel-title">Principal Investigator</h3>
  </div>
  <div class="row">
    {% for indiv in page.people %}
    {% if indiv.group =="PI" %}
    <div class="col-md-8">
      {% include directory_entry.html %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="bs-callout bs-callout-info">
    <h3 class="panel-title">Postdocs and Staff</h3>
  </div>
  <div class="row">
    {% for indiv in page.people %}
    {% if indiv.group =="Postdocs" %}
    <div class="col-md-6">
      {% include directory_entry.html %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="bs-callout bs-callout-info">
    <h3 class="panel-title">Graduate Students</h3>
  </div>
  <div class="row">
    {% for indiv in page.people %}
    {% if indiv.group =="Graduate Students" %}
    <div class="col-md-6">
      {% include directory_entry.html %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="bs-callout bs-callout-info">
    <h3 class="panel-title">Undergraduate Assistants</h3>
  </div>
  <div class="row">
    {% for indiv in page.people %}
    {% if indiv.group =="Undergraduate Students" %}
    <div class="col-md-6">
      {% include directory_entry.html %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="bs-callout bs-callout-info">
    <h3 class="panel-title">Alumni</h3>
  </div>
  <div class="row">
    {% for indiv in page.people %}
    {% if indiv.group =="Alumni" %}
    <div class="col-md-6">
      {% include directory_entry.html %}
    </div>
    {% endif %}
    {% endfor %}
  </div>

</div>
